@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 14.9020%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 35 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.0980%;
    --input: 0 0% 25.0980%;
    --ring: 45 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground font-body antialiased;
    background-color: hsl(var(--background));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('https://i.ibb.co/4nqM0Xx7/wall.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

@layer utilities {
  .no-print {
    @media print {
      display: none !important;
    }
  }
}